# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
.venv/
venv/
env/

# Environment variables
.env

# Git
.git
.gitignore

# IDEs
.vscode/
.idea/

# Pytest
.pytest_cache/

# Mypy
.mypy_cache/

# Ruff
.ruff_cache/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Alembic cache
alembic/__pycache__/